*{
    color: #fff;
}

body{
    background-image: url('../images/blur.jpg') ;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height:100%;
}

.userBody{
    margin-left: 300px;
    font-style: italic;
    text-align: center;
    margin: 2rem 0;
}

h1, h2, h3{
    
    font-size: 2.5rem;
  }