
    <link href="css/Header.css" type = "text/css" rel="stylesheet">

    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                  <a class="navbar-brand" href="Dashboard.html">
                      Curb The Coins
                  </a>
            <div class="sidebar-sticky">
               
             
                    <button type="button" class="btn btn-info btn-block"  onclick="location.href='Dashboard.html'"> Dashboard</button>
                     
                            <button type="button" class="btn btn-info btn-block"  onclick="location.href='Categories.html'"> Categories</button>
                   
                            <button type="button" class="btn btn-info btn-block"  onclick="location.href='Profile.html'">Profile</button>

                            <button type="button" class="btn btn-info btn-block"  onclick="location.href='Index.html'">Sign out</button>
                     
                  </div>
              </nav>
             
        </div>
      </div>
